<section id="weather-list">
    <div class="container"> 
    <input class="form-control form-control-lg" type="text" placeholder="city" [(ngModel)]="city">
    <button type="button" class="btn btn-lg btn-primary" (click)="btnPressed()">Check weather</button>
    <h2>API Weather Forecast</h2>
    <table class="table table-bordered table-striped">

    <tr>
        <th>Date</th>
        <th>Weather</th>
        <th>Temperature</th>
    </tr>

    <tr *ngFor="let weather of weathers" (click)="weatherPressed(weather)">
        <td>{{weather.dt * 1000 | date}}</td>
        <td>{{weather.weather[0].main}}</td>
            <td>{{weather.temp.day - 273.15 | number:"0.2-2"}}</td>
    </tr>

</table>

</div>
</section>

<div *ngIf="selectedWeather">
    <h4>Your selected weather:</h4>
    <pre>
        {{selectedWeather.weather[0].icon}}
        Date: {{selectedWeather.dt * 1000 | date}}
        Temperature (Day) :{{selectedWeather.temp.day}}
        Temperature (Min) :{{selectedWeather.temp.min}}
        Temperature (Max) :{{selectedWeather.temp.max}}
        Temperature (Night) :{{selectedWeather.temp.night}}
        Temperature (Eve) :{{selectedWeather.temp.eve}}
        Temperature (Morning) :{{selectedWeather.temp.morn}}
        Pressure :{{selectedWeather.pressure}}
        Humidity :{{selectedWeather.humidity}}
        Weather :{{selectedWeather.weather[0].main}}
        Description :{{selectedWeather.weather[0].description}}
    </pre>



</div>
