<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Place</ion-card-subtitle>
          <ion-card-title>Name</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-icon name="pin" slot="start"></ion-icon>
          Description
        </ion-card-content>
      </ion-card>

</ion-content>
