<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style= "font-size:20px; color: white">
      TO DO!
    </ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="presentModal()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <ion-list>
      <ion-item-sliding *ngFor="let todo of todos; let i=index">
        <ion-item>
        <ion-avatar slot="start">
          <img src="assets/done.png" *ngIf="todo.completed"/>
          <img src="assets/not_done.png" *ngIf="!todo.completed"/>
        </ion-avatar>
            <ion-label>
              <h1>{{ todo.name }}</h1>
              <h3 style="color:dodgerblue">{{ todo.place}}</h3>
              <p style="color:dimgrey">{{ todo.description }}</p>
            </ion-label>
            <ion-button color="primary" routerLink="/detail/{{todo.id}}">VIEW</ion-button>
          </ion-item>
        <ion-item-options>
          <ion-item-option color="primary" (click)="markDone(todo)">
            <ion-icon slot="end" name="checkmark-circle"></ion-icon>
            DONE
          </ion-item-option>
          <ion-item-option color="secondary" (click)="delete(i)">
            <ion-icon slot="end" name="trash"></ion-icon>
            DELETE
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
</ion-content>

