<ion-header>
    <ion-toolbar color="dark">
    <ion-title>Place Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{place?.name}}</ion-card-subtitle>
        <ion-card-title>{{place?.country}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
            {{place?.description}} 
      </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-item>
            <ion-thumbnail slot="start">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
            </ion-thumbnail>
            <ion-label>
              <h2>H2 Title Text</h2>
              <p>Button on right</p>
            </ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
      <ion-button color="primary" expand="block">ADD REVIEW</ion-button>
    </ion-card>
</ion-content>
