<app-header></app-header>
<!--The content below is only a placeholder and can be replaced.-->
      

<header class="dark-bg py">
    <div class="container">
        <h1 class="display-3">
            <i class="fa fa-gear fa-spin "></i> Dashboard -
            <span class="display-4 text-muted"> Lazada Mall</span>
        </h1>
    </div>
</header>
<main class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-header bg-main text-light ">
                        Dashboard
                    </div>
                    <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="far fa-building"></i> My Malls
                    <span class="badge badge-secondary">10</span>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-users"></i> My Customers
                    <span class="badge badge-secondary">200</span>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-box"></i> My Products
                    <span class="badge badge-secondary">56</span>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-body">
                Disk space used
                
                <div class="progress">
                    <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 80%"
                    >
                    80%
                </div>
            </div>
            
            Memory used
            <div class="progress">
                <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 30%"
                >
                30%
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-9">
    <div class="card mb-3">
        <div class="card-header bg-main text-light">
            Quick Overview
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <i
                            class="far fa-building zoom"
                            style="font-size:36px"
                            ></i>
                            <h4 class="card-title mt-2">100</h4>
                            <p class="card-text ">
                                Stores
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-users zoom" style="font-size:36px"></i>
                            <h4 class="card-title mt-2">200</h4>
                            <p class="card-text">
                                Users
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-box zoom" style="font-size:36px"> </i>
                            <h4 class="card-title mt-2">300</h4>
                            <p class="card-text">
                                Products
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-box zoom" style="font-size:36px"></i>
                            <h4 class="card-title mt-2">50</h4>
                            <p class="card-text">
                                Bookings
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
              <div class="card-body"></div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-main text-light">
                    Latest Booking
              </div>
              <div class="card-body">
                  <table class="table table-bordered table-striped">
                      <thead>
                          <tr class="bg-success text-light">
                              <th scope="col">Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let place of apiPlaces">
                                <td>{{ place.name }}</td>
                                <td>{{ place.description }}</td>
                                <td>{{ place.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
</main>


<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b> Add Mall</b></h5>
            <button
            type="button"
            class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  >
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputMall">Mall Name</label>
                        <input
                        type="text"
                        [(ngModel)]=
                        class="form-control"
                        id="exampleInputMall"
                        placeholder="Enter mall name  "
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAddress">Enter Address</label>
                        <input
                        type="text"
                        class="form-control"
                        id="exampleInputAddress"
                        placeholder="Enter mall address"
                        />
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Desription</label>
                        <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        name="editor1"
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFacilities">Facilities</label>
                        <input
                        type="email"
                        class="form-control"
                        id="exampleInputFacilities"
                        aria-describedby="emailHelp"
                        placeholder="Enter mall facilities "
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" (click)="postPlaces(mallInfo)">Save changes</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>