<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title style="font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-align: center">
        Register 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div>
  <h2 style="text-align:center">Register a new account</h2>
  <ion-item>
      <ion-label position="Your log in name">Create log in name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="Password">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="Re-enter Password">Re-enter Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="Name">Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="email">Email</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="Country">Country</ion-label>
                <ion-input></ion-input>
              </ion-item>
      <ion-button color="primary">Register</ion-button>
  </div>
  
</ion-content>
