<ion-header>
    <ion-toolbar color="dark">
    <ion-title>Add New Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rating</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Comment</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        <ion-button color="primary" expand="full">ADD REVIEW</ion-button>
      </ion-card>
</ion-content>
