<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> 
      <ion-title style="font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-align: center">
          Discover places 
        </ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content>
  <ion-list>

    <ion-card>
      <img src="assets/greatwall.jpg"/>
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>The Great Wall, CHINA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          Divide and conquer.
        </div>
        <ion-button color="primary">Review</ion-button>
        <ion-button color="tertiary">Discover</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/pyramid.jpg"/>
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Giza Pyramid, EGYPT</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          This is where you find mummies.
        </div>
        <ion-button color="primary">Review</ion-button>
        <ion-button color="tertiary">Discover</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/santorini.jpg"/>
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Santorini, GREECE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          Enjoy the seabreeze, forget your worries.
        </div>
        <ion-button color="primary">Review</ion-button>
        <ion-button color="tertiary">Discover</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  </ion-content>
  