<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title style="font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-align: center">
        Log In 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div>
  <h2 style="text-align:center">Log in to view saved places</h2>
  <ion-item>
      <ion-label position="Your log in name">Log in name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="Password">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button color="primary" routerLink="/placehome">Login</ion-button>
  </div>
  
</ion-content>
