<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="primary" expand="full" (click)="signupPressed()">Sign Up</ion-button>
    <ion-input></ion-input>
  </ion-item>

</ion-content>