<ion-header>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="closePressed()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Add to do task here:</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="data.name"></ion-input>
  </ion-item>
 <ion-item>
   <ion-label position="floating">Place</ion-label>
   <ion-input [(ngModel)]="data.place"></ion-input>
  </ion-item>
<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-input [(ngModel)]="data.description"></ion-input>
</ion-item>
<ion-button color="success" expand="block" (click)="addPressed()">ADD</ion-button>
<ion-content>

</ion-content>
