<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: 50px; margin-top: 20px; margin-bottom: 10px; text-align: center">
      My Place App 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <h3 style="text-align:center">Discover places thousand miles away with just a tap.</h3>
    <ion-button color="primary" routerLink="/login">Login</ion-button>
    <ion-button color="secondary" routerLink="/register">Register</ion-button>
  
  </div>
<div>
    <ion-card>
        <img src="assets/travel.jpg"/>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>My Airport, MYHOME</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Now everyone can travel.
        </ion-card-content>
      </ion-card>

</div>

</ion-content>
