<ion-header>
  <ion-toolbar color="primary">
    <ion-title>City Weather Search</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

 <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'weatherlist', results]">
      <ion-label text-wrap>
       <h1>
         {{ results.pressure }}
         {{ results.humidity }}
        </h1> 
      </ion-label>
 
      <ion-icon slot="end" *ngIf="results.name == 'city'"></ion-icon>
    </ion-item>
 
  </ion-list>
 
</ion-content>

